

/***************ABOUT-ME********************/
.about-me {
    border-top: 10px solid black;
    border-right: 6px solid black;
    border-bottom: 10px solid black;
    animation: rotate 2s;
    display: flex;
}

/***************ANIMATION********************/
@keyframes rotate {
    to {
        transform: rotate(0deg);
        margin-left: 0%;
    }

    from {
        margin-left: 100%;
    }
}

/***************ABOUT-TITLE********************/
.about-me-content .about-title .slide {
    background-color: yellow;
    height: 42px;
    width: 40px;
    position: absolute;
    top: 7.5%;
    left: 24%;
    animation: rotate 2s;
}

.left {
    transform: rotateY(84deg) rotateZ(-75deg);
}

.about-me-content .about-title .slider {
    background-color: yellow;
    height: 40px;
    width: 200px;
    margin-top: 20px;
}

.about-me-content .about-title .slider h1 {
    margin-top: -1.5%;
    margin-left: 85px;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    line-height: 45px;
}

.about-me-content .about-title p {
    color: #ccc;
    line-height: 50px;
}

/***************WEB-DESIGNER********************/
.web-designer .web-designer-developer h2 {
    font-size: 1.5rem;
}

.web-designer .web-designer-developer p {
    text-align: justify;
}

.web-designer .web-designer-developer h3 {
    font-size: 1.5rem;
}

.web-designer .web-designer-developer .slider-right {
    background-color: #fdfcfc;
    height: 130px;
    width: 250px;
    margin-left: 40px;
    border-radius: 4px;
    border: 0.1px solid #ccc;
}

.web-designer .web-designer-developer .slider-right p {
    text-align: justify;
    padding: 10px 20px;
}

.web-designer-developer .items-line {
    margin-top: -20px;
}

.web-designer-developer .items-line img {
    margin-left: -22px;
    border: 0.1px solid #ccc;
    border-radius: 50%;
    background-color: #f0eeee;
}

.web-designer-developer .items-line p {
    margin-top: 20px;
    text-wrap: nowrap;
}

.web-designer-developer .items-line span {
    text-transform: uppercase;
    color: #ccc;
    font-size: 0.9rem;
    font-style: italic;
}

.web-designer-developer .items-line .defile {
    margin-top: 32px;
    margin-left: 44px;
}

.web-designer-developer .items-line .defile i {
    line-height: 20px;
    padding: 4px;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #c0bbbb98;
    cursor: pointer;
}

/******************SERVICES*********************/

.services {
    margin-top: -3%;
}

.services h4 {
    font-size: 1.5rem;
}

.services-line-1 .services-line-item-1 img {
    display: flex;
    margin: auto;
}

.services-line-1 .services-line-item-1 h5 {
    text-align: center;
}

/***************MEDIA QUERY****************/

@media screen and (max-width: 900px) {

    /************SLIDER-NAV*************/
    .aside {
        border-top: 10px solid black;
        border-right: 6px solid black;
        border-bottom: none;
        box-shadow: 1px 2px 4px #ccc;
    }

    .slider-nav h1 {
        padding: 15px;
        padding-right: 90px;
    }

    .slider-nav p span {
        display: none;
    }

    /**********NAV-BAR***********/
    .navbar::before {
        content: "\2630";
        position: absolute;
        top: 2%;
        right: 2%;
        line-height: 50px;
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
        cursor: pointer;
    }

    /**************ABOUT-CONTENT-TITLE***************/
    .about-me {
        border-top: none;
        border-left: 6px solid black;
        border-bottom: 10px solid black;
        animation: none;
    }

    .web-designer-developer h1,
    h2,
    h3,
    h4 {
        font-size: 1.5rem;
    }

    .about-me-content .about-title .slide {
        display: none;
    }

    .about-me-content .about-title .slider {
        height: 40px;
        width: 120px;
        margin-top: 20px;
        text-wrap: nowrap;
    }

    .about-me-content .about-title .slider h1 {
        font-size: 20px;
        margin-left: 25px;
        line-height: 40px;
    }

    .about-me-content .about-title p {
        display: none;
    }

    .about-title,
    .web-designer,
    .services-line {
        display: block;
    }

    .about-title p {
        display: none;
    }

    .web-designer-developer .slider-right {
        margin: 0 auto !important;
    }

    .services h4 {
        font-size: 1.5rem;
        margin-top: 60px;
    }

    .services-line-items:nth-child(1) h5,
    .services-line-items p {
        display: none;
    }

    .services-line-items:nth-child(2) {
        display: none;
    }

    .services-line-items:nth-child(3) {
        display: none;
    }

    .services-line-items:nth-child(4) {
        display: none;
    }

    .container-suite {
        display: none;
    }
}

/**************MEDIA QUERY*************/

@media screen and (max-width: 650px) {

    .aside {
        border-top: 10px solid black;
        border-right: 6px solid black;
        border-bottom: none;
        box-shadow: 1px 2px 4px #ccc;
    }

    .slider-nav h1 {
        padding: 8px 8px;
    }

    .slider-nav p {
        display: none;
    }

    /**********NAV-BAR***********/
    .navbar::before {
        content: "\2630";
        position: absolute;
        top: 1.5%;
        right: 2.5%;
        line-height: 50px;
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
        cursor: pointer;
    }

    /**************ABOUT-CONTENT-TITLE***************/
    .about-me {
        border-top: none;
        border-left: 6px solid black;
        border-bottom: 10px solid black;
    }

    .web-designer-developer h1,
    h2,
    h3,
    h4 {
        font-size: 1.5rem;
    }

    .web-designer-developer h1,
    h2,
    h3,
    h4 {
        font-size: 1.5rem;
    }

    .about-title,
    .web-designer,
    .services-line {
        display: block;
    }

    .about-title p {
        display: none;
    }

    .web-designer-developer .items-line {
        margin-top: -14px;
    }

    .services h3 {
        font-size: 1.5rem;
    }

    .services-line-1 .services-line-item-1:nth-child(1) h5,
    .services-line-items p {
        display: none;
    }

    .services-line-item-1:nth-child(1) {
        margin: 0 auto;
    }

    .services-line-item-1:nth-child(2) {
        display: none;
    }

    .services-line-item-1:nth-child(3) {
        display: none;
    }

    .services-line-item-1:nth-child(4) {
        display: none;
    }

    .services-line-item-1 p {
        display: none;
    }

    .container-suite {
        display: none;
    }

}

@media screen and (max-width: 1200px) {
    .aside {
        border-top: 10px solid black;
        border-right: 6px solid black;
        border-bottom: none;
        box-shadow: 1px 2px 4px #ccc;
    }

    .slider-nav h1 {
        padding: 8px 8px;
    }

    .slider-nav p {
        display: none;
    }

    /**************ABOUT-CONTENT-TITLE***************/
    .about-me {
        border-top: none;
        border-left: 6px solid black;
        border-bottom: 10px solid black;
    }

    .container-suite {
        display: none;
    }

}