
body {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    height: 100vh;
    padding: 10px;
}

/****************ASIDE*******************/
.aside {
    grid-area: aside;
    color: black;
    text-align: center;
    border-left: 6px solid black;
    border-right: 6px solid whitesmoke;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background-color: white;
}

nav .slider-nav{
    margin: 16px;
}

nav .slider-nav img {
    height: 80px;
    width: 80px;
    margin: 25px;
    border-radius: 50%;
}

nav .slider-nav h1 {
    text-align: center;
    margin: -18px;
    color: black;
}

nav .slider-nav p {
    color: #c0bbbb98;
    margin: 25px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 40px;
}

nav ul li {
    display: grid;
    text-decoration: none;
    padding: 10px;
}

nav ul li:hover{
    background-color: rgb(208, 207, 207);
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

nav ul li a:hover{
    color: black;
}

.icons-social i {
    width: 24px;
    height: 24px;
    line-height: 25px;
    margin: 1px;
    font-size: 0.8rem;
    border-radius: 4px;
    background-color: #c0bbbb98;
    cursor: pointer;
}

/*************HOME**************/
.home {
    grid-area: home;
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.7)), url('/assets/images/002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 10px solid black;
    border-right: 6px solid black;
    border-bottom: 10px solid black;
    color: white;
}

.home .infos{
    margin-top: 15%;
}

.home .infos h2 {
    text-align: center;
    font-size: 3rem; 
}

.home .infos h3{
    text-align: center;
    font-size: 1.2rem;
    margin-top: -4%;
}
.home .infos p{
    font-size: 1.3rem;
    margin-left: 35%
}

 .home .infos p u{
text-decoration: none;
border-bottom: 2px solid yellow;
}

.general-framework {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside home";
}

@media  screen and (max-width: 900px) {
    .general-framework{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 12fr;
        grid-template-areas: "aside" "home";
    }

    .aside {
        border-top: 10px solid black;
        border-right: 6px solid black;
        border-bottom: none;
        background-color: #fff;
    } 

    .slider-nav{
        height: 20px;
    }

    .slider-nav img, ul,
    .icons-social i {
        display: none;
    }

    .navbar::before {
        content: "\2630";
        position: absolute;
        top: 2%;
        right: 5%;
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
        cursor: pointer;
    }

    nav .slider-nav h1 {
        margin-left: -80%;
        line-height: 1;
        color: black;  
    }
    
    nav .slider-nav p{
        display: block;
        position: absolute;
        font-size: 18px;
        top: 31%;
        left: 0;
        right: 0;
    }
    
    .home {
        border-top: none;
        border-left: 6px solid black;
        border-bottom: 10px solid black;
    }

    .home .infos h2{
        position: absolute;
        font-size: 2.2rem;
        top: 22%;
        left: 0;
        right: 0;
    }

     .home .infos h3 {
        display: none;
    }

    .image p{
        position: absolute;
        top: 31%;
        left: 0;
        right: 0;
        font-size: 1.2rem;
    }

    .home .infos p{
        position: absolute;
        top: 38%;
        left: -6%;
    } 

} 